Flask==3.0.3
pdfplumber==0.11.3
spacy==3.7.4
regex==2023.12.25
Unidecode==1.3.8
gunicorn==20.1.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#sha256=ab70aeb6172cde82508f7739f35ebc9918a3d07debeed637403c8f794ba3d3dc
